body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F5f5f5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login-header {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-p {
  text-align: left;
  font-size: 1.0rem;
  margin-bottom: 1rem;
  width: 100%;
}

.login-labels {
  text-align: left;
  font-weight: bold;
  width: 100%
}


.ui.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.proflow-body {
  background-color: #ffffff;
}

.proflow-title {
  width: 100%;
  height: 75px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #1677FF;
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  box-sizing: border-box;

  /* Auto layout */
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 10px;
  width: 73px;
  height: 48px;
  /* White */
  background: #FFFFFF;
  /* Gray 1 */
  border: 1px solid #ADADAD;
  border-radius: 4px;
}

.submit-button {
  margin-top: 1rem;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.signup-welcome {
  text-align: center;
  margin-bottom: 2rem;
}

.signup-button {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 10px;

width: 83px;
height: 48px;

/* Primary Blue */

background: #1677FF;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.signup-header {
  text-align: center;
}

.signup-submit-button {
  margin-top: 1rem;
}

.my-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.my-account-image-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.my-account-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-account-info-container {
  text-align: center;
}
.home-title {
    text-align: center;
}

.user-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.user-container img {
  width: 60%;
  height: 60%;
  display: block;
  margin: auto;
}

.user-container p {
  margin-top: 10px;
  text-align: center;
}

.user-container-name {
  text-align: center
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  align-content: center;
}

.user-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 90%;
}


.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 16px;
  background-color: white;
}

.sidebar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  align-items: center;
}

.sidebar__item {
  margin-bottom: 8px;
}

.sidebar__link {
  color: #333;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.sidebar__link:hover {
  background-color: #ddd;
}

.sidebar__button {
  color: #fff;
  background-color: #f44336;
  border: none;
  padding: 7px;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  align-self: flex-end;
  margin-top: 16px;
}

.sidebar__button:hover {
  background-color: #e53935;
}

.sidebar_title {
  width: 95px;
  height: 29px;
  top: calc(50% - 29px/2-.05px);
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2f72f2;
}
.projects-container {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px;
  justify-content: center;
}

.create-project-container {
  margin-bottom: 16px;
}

.projects-list {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin: 10px auto;
}

.proflow-project-description{
width: 100%;
height: 88px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.8px;
color: #403B3B;
text-align: center;
flex: none;
order: 0;
flex-grow: 0;
}

.proflow-info {
  /* Auto layout */
padding: 0px;
width: 100%;
height: 64px;
flex: none;
order: 1;
flex-grow: 0;
text-align: center;
}

.proflow-body {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  
}

.proflow-image {
  flex: 1;
  background-size: contain;
  background-position: center;
  height: 140%;
  width: 100%;
  background-color:#1677FF 
}


.proflow-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proflow-title {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #1677FF;
}

.proflow-project-description {
  font-size: 24px;
  line-height: 29px;
  color: #212121;
}

.proflow-info {
  font-size: 20px;
  line-height: 24px;
  color: #212121;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.submit-button {
  align-content: right;
  background-color: #1677FF;
  color: #fff;
}

.login-modal-content {
  display: flex;
  flex-direction: row-reverse;
}

.login-form-container {
  flex: 1;
  margin-right: 2rem;
}

.login-image {
  width: 500px;
  height: 600px;
  background-color: #1677FF;
}

.signup-modal-grid {
  display: flex;
  flex-direction: row;
}

.signup-image-container {
  display: flex;
  justify-content: center;
}

.signup-image {
  width: 500px;
  height: 600px;
  background-color: #1677FF;
}

.header.signup-header {
font-size: x-large;
}

.signup-content{
  width: 30%;
  align-content: right;
}

.signup-modal .signup-labels {
  font-weight: normal;
}

.projects-grid {
  width: 75%;
  height: 80%;
  justify-content: space-evenly;
}


.content {
  height: auto;
width: auto;
}

.project-status {
  align-content: right;
}

.project-form-container {
  text-align: end;
  padding-right: 50px;
}
